.container {
  overflow-x: auto;

  table {
    width: 100%;
    table-layout: auto;
    margin-bottom: 100px;
    margin-right: 50px;
  }
  
  th {
    font-weight: bold;
  }

  .center-header {
    text-align: center;
  }
  
  .mat-row:nth-child(even){
    background-color: #D1E7E4;
  }
  
  .mat-row:nth-child(odd){
    background-color:#9DADAB;
  }
  
  td {
    min-width: 100px;
  }
  
  .large-data {
    padding-right: 50px;
  }
  
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
